<div class="mat-elevation-z8">
  <table matSortDirection="desc" matSortDisableClear matSortActive="relevancy" mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
    <ng-container matColumnDef="record_id">
      <th nowrap class="cell-left" mat-header-cell *matHeaderCellDef mat-sort-header>Record Id</th>
      <td class="cell-left" nowrap mat-cell *matCellDef="let row">{{row.record_id}}</td>
    </ng-container>

    <ng-container matColumnDef="relevancy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Relevancy</th>
      <td mat-cell *matCellDef="let row">{{row.relevancy}}</td>
    </ng-container>

    <ng-container matColumnDef="commercial">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Commercial</th>
      <td mat-cell *matCellDef="let row">{{row.commercial}}</td>
    </ng-container>

    <ng-container matColumnDef="mixed_use">
      <th nowrap mat-header-cell *matHeaderCellDef mat-sort-header>Mixed Use</th>
      <td mat-cell *matCellDef="let row">{{row.mixed_use}}</td>
    </ng-container>

    <ng-container matColumnDef="residential">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Residential</th>
      <td mat-cell *matCellDef="let row">{{row.residential}}</td>
    </ng-container>

    <ng-container matColumnDef="total_sq_ft">
      <th nowrap mat-header-cell *matHeaderCellDef mat-sort-header>Total sq ft</th>
      <td mat-cell *matCellDef="let row">{{row.total_sq_ft | number}}</td>
    </ng-container>

    <ng-container matColumnDef="record_status">
      <th nowrap mat-header-cell *matHeaderCellDef mat-sort-header>Record Status</th>
      <td class="cell-left" mat-cell *matCellDef="let row">{{row.record_status}}</td>
    </ng-container>

    <ng-container matColumnDef="date_opened">
      <th nowrap mat-header-cell *matHeaderCellDef mat-sort-header>Date Opened</th>
      <td mat-cell *matCellDef="let row">{{row.date_opened | date}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th class="cell-left" mat-header-cell *matHeaderCellDef>description</th>
      <td class="cell-left" mat-cell *matCellDef="let row">{{row.description}}</td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


</div>
